body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}


h2 {
	background-image: url(../imagens/art-a.jpg);
	padding: 10px;
	color: white;
}

#sidebar {
	float: right;
	border-width: 1px;
	border-style: dashed;
	border-color: #EE4000;
	width: 200px
}
